*.py[cod]

~/.pyirc

# Unit test / coverage reports
.tox

# mypy
.mypy_cache/

# vim temp files
*.swp

# build folders
build/
dist/
docs/
*.egg-info/
cache/

# pytest support folders
.pytest_cache/

# VSCode folders
.vscode/

# venv folder(s)
venv/
env/

# misc
.DS_store
.idea/
scrap/
__pycache__/
tmp/
.cache/

# ionical files
ionical_config.toml
ionical_export_default_csv_filename.csv
BMI__202*.ics
XBOX*.ics
Celtics*.ics